.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
}

.authForm {
    background-color: var(--cardColor);
    padding: 2rem;
    border-radius: 1rem;
}
.auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-left {
    gap: 2rem;
}
.a-left > img {
    width: 4rem;
    height: 4rem;
}

.webName > h1 {
    color: var(--twitter);
}
.webName > h6 {
    font-size: .75rem;
}

.infoForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.infoForm > h3 {
    font-size:1.5rem;
}

.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    padding: 20px;
    flex: 1;
    border-radius: 8px;
}

.infoForm >div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
}

.info-btn {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}