.infoCard {
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    gap: .75rem;
}

.infoHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoHead>div:hover{
    cursor: pointer;
}
.logout-btn {
    width: 7rem;
    height: 2rem;
    margin-top: 1.5rem;
    align-self: flex-end;
}