.Post {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    background-color: var(--cardColor);

}
.Post > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
}

.postReact {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.like {
    width: 10px;

}